@import "../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

$inro-top: -25px;
$section-top: 105px;

body,
html {
  font-family: "cwTeXYen", sans-serif;
  color: #3f5d45;
}

.slide {
  position: relative;
}

.custom-navbar {
  width: 940px;
}

.glass-block {
  width: 260px;
  height: 100%;
  overflow: hidden;
  writing-mode: vertical-lr;
  color: white;
  z-index: 2;
  font-size: h3;
}

.glass-block:nth-child(1) {
  position: relative;
}

.glass-block:nth-child(1)::before {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/topic_1.jpg);
  object-fit: cover;
  //background-color: rgba($secondary, .8);
  filter: blur(5px);
  z-index: -1;
}
.glass-block:nth-child(1)::after {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($secondary, 0.7);
  z-index: -1;
}

.glass-block:nth-child(2) {
  position: relative;
}

.glass-block:nth-child(2)::before {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/topic_2.jpg);
  object-fit: cover;
  //background-color: rgba($secondary, .8);
  filter: blur(5px);
  z-index: -1;
}
.glass-block:nth-child(2)::after {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($primary, 0.7);
  z-index: -1;
}

.glass-block:nth-child(3) {
  position: relative;
}

.glass-block:nth-child(3)::before {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/topic_3.jpg);
  object-fit: cover;
  //background-color: rgba($secondary, .8);
  filter: blur(5px);
  z-index: -1;
}
.glass-block:nth-child(3)::after {
  content: "";
  width: 260px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($primary, 0.7);
  z-index: -1;
}

.img-slide {
  max-width: 940px;
  max-height: 496px;
  object-fit: cover;
}

.block-container {
  bottom: -150px;
  position: absolute;
  height: 50%;
}

.intro {
  margin-top: 267px;
  width: 1024px;
  height: 420px;
  position: relative;
}
.intro > p {
  writing-mode: vertical-rl;
  margin: 70px 227px 70px 557px;
  line-height: 2rem;
}

.intro2 {
  margin-top: $section-top;
  width: 1024px;
  height: 420px;
  position: relative;
}
.intro2 > p {
  writing-mode: vertical-rl;
  margin: 70px 0;
  line-height: 2rem;
}

.intro-word {
  position: absolute;
  top: $inro-top;
  right: 0px;
  width: 89px;
}
.intro-img {
  width: 460px;
  height: 460px;
  position: absolute;
  top: $inro-top;
  object-fit: cover;
}

.intro-word2 {
  position: absolute;
  top: $inro-top;
  left: 300px;
  width: 89px;
}
.intro-img2 {
  width: 460px;
  height: 460px;
  position: absolute;
  top: $inro-top;
  right: 0px;
  object-fit: cover;
}

.word {
  margin-top: 100px;
  height: 327px;
}

.title {
  padding: 14px 33px;
}
.price {
  padding: 14px 20px 14px 25px;
  border-left: 1px solid #eaf0ed;
}

.add-cart {
  padding: 16px 90px;
}

.sweet-card {
  position: relative;
}

.sweet-card::after {
  content: "本日精選";
  writing-mode: vertical-lr;
  background-color: #3f5d45;
  padding: 10px 5px 15px 5px;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 30px;
  height: 106px;
  text-align: center;
}

.word-sm {
  margin-top: 150px;
}

.img-reason {
  width: 375px;
  height: 250px;
  object-fit: cover;
}

.page-item-cus-size {
  width: 60px;
  height: 60px;
}

a {
  text-decoration: none;
}

.mail-image {
  background-color: #fff;
  padding-left: 20px;
}

.mail-button {
  padding: 20px 24px;
}
